.show-banner{
    display: flex;
    align-items: center;
    justify-content: center;
}

.title{
    margin: 20px;
    width: 35%;
    text-align: center;
}

.title img{
    border-radius: 100%;
    width: 150px;
    padding: 20px;
}

.title h1{
    font-size: 40pt;
    padding: 25px;
}

.title p{
    padding: 25px;
    font-size: 16pt;
}